.listCamTop {
    .buttonsContainer {
        display: flex;
        gap: 1rem;

        div:hover {
            cursor: pointer;
        }
    }

    div {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 1.9rem;

        }
    }

    .hero {
        margin: 1rem 0.5rem;
    }
}

.mainContainer {


    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5rem;
    margin-top: 1.5rem;

    .twoDivsAside {
        width: 100%;
        height: 60rem;
        display: flex;
        justify-content: space-between;

        aside {
            width: 15%;
            background-color: var(--snow-lightest);
            border-radius: 0.8rem;
            overflow-x: hidden;
            overflow-y: auto;

        }

        section {
            width: 84%;
            background-color: var(--snow-lightest);
            border-radius: 0.8rem;
            padding: 1.5rem;
        }
    }

    .logsContainer {
        margin-top: 1.5rem;
        background-color: var(--snow-lightest);
        border-radius: 0.8rem;
        height: 25rem;
        padding: 1.5rem;

    }
}